.adsbalance {
  display: block;
  background: lemonchiffon;
  widows: 100px;
  height: 200px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: block;
  display: block;
  /* Post Commit Command */
  /* sad */
  /* asdad  */
}

