.adsbalance {
  display: block;
  background: lemonchiffon;
  widows: 100px;
  height: 200px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: block;
  display: block;
  /* Post Commit Command */
  /* sad */
  /* asdad  */
}
.asd {
  text-align: center;
}
.asd {
  text-align: center;
}
.body { 
  background: url(/test/HQoQ4T0XUdc.jpg);
}